header{
    
    background-color:$fondo;
    color:floralwhite !important;
    border: 1px solid floralwhite;
    display: flex;
    font-family: "Poppins";
    font-weight:400px;
    margin:0px;
    padding:0px;
    width: 100%;
    img{
    width: 50px;
    height: 50px;
    }
    .nav-link{
        color:$letras;
        
    }
    .container-fluid{
        --bs-gutter-x: 0rem;
        }
 

        .nav-link{
            color:$letras;
            &:hover{
            color:darkgoldenrod;
        
  }}

    .btn {
        background-color: $letras;
       

    }

}