main{
    color:$letras;
    background-image: linear-gradient( rgba(9, 0, 10, 0.539),hwb(198 0% 22% / 0.756)), url(../img/LOGOS/Imagotipo\ full\ color\ sin\ fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #000;
 .container-fluid{
        --bs-gutter-x: 0rem;
     
        
        }
       
h1{
    text-align: center;
}
 
    .quien{
        img{
            height: 400px;
            width: 300px;
            padding: 30px
        }
        h1{
            text-align: center;

        }
    }
    .container-fluid{
        --bs-gutter-x: 0rem;
       
    }

    #carouselExampleCaptions{
        height: 600px;
        width: 400px;
        justify-content: center;
        }

    .general{
        height: 37em;
    
    .row{
        align-items: center;
        --bs-gutter-x: 0rem;
        
            
            }

        }
    }
 .row{
        align-items: center;
        --bs-gutter-x: 0rem;}
 
.mb-3{
    margin-left: 10px;
    
    }
    .h1{
        text-align: center;
    }
    .contacto{
        img{
            width: 50px;
            height: 50px;

        }
    }
    .btn-primary{
        margin-left: 10px;
     }
     .button{
        color:$letras;
    }
    .registro{
        height: 20em;
        padding-left: 10px;
        margin-left: 10px;
        img{
            width: 50px;
            height: 50px;
        }
        
        
        }
   
        
    
    .form{
        padding: 10px;
        height: 26em;
        }
        #emailHelp{
            color: $letras;
        }
        .logo img{
            width: 50px;
            height: 50px;

         
        }
        iframe{
            height: 300px;
            width: 80%;
            margin-left: 50px;
            margin-top: 10px;
            border: 1px solid $letras;
            justify-content: center;
           
        }
   
     .row{
        a{
                color: $letras;
                text-align: center;
        }
        .if{
            height:37em;

        }
    }    
    
    .col-sm-7{
        iframe{
            height: 300px;
            width: 80%;
            margin-left: 50px;
            margin-top: 10px;
            border: 1px solid $letras;
            justify-content: center;
        }
    }
    
     





