main{
    color: aliceblue;
    background-image: linear-gradient( rgba(9, 0, 10, 0.539),hwb(198 0% 22% / 0.756)), url(../img/LOGOS/Imagotipo\ full\ color\ sin\ fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #000;
    
    .general{
        height: 37em;
    
    .row{
        align-items: center;
        --bs-gutter-x: 0rem;
        .if{
            iframe{
                height:100px;
            }
        }
    }

}
}




