/*variables para practicar no va a quedar asi*/
header {
  background-color: #044967;
  color: Floralwhite;
  border: 1px solid Floralwhite;
  display: flex;
  font-family: "Poppins";
  font-weight: 400px;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
header img {
  width: 50px;
  height: 50px;
  transform: translateX(50px);
  transform: scale(1, 3, 1, 3);
  transition: height 1s;
}
header img:hover {
  height: 100px;
  width: 100px;
}
header .nav-link {
  color: Floralwhite;
}
header .container-fluid {
  --bs-gutter-x: 0rem;
}
header .nav-link {
  color: Floralwhite;
}
header .nav-link:hover {
  color: darkgoldenrod;
}
header .btn {
  background-color: Floralwhite;
  color: #044967;
}
header .btn:hover {
  background-color: darkgoldenrod;
}

main {
  color: Floralwhite;
  background-image: linear-gradient(rgba(9, 0, 10, 0.539), hwb(198 0% 22%/0.756)), url(../img/LOGOS/Imagotipo\ full\ color\ sin\ fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #000;
}
main .container-fluid {
  --bs-gutter-x: 0rem;
}
main h1 {
  text-align: center;
}
main p {
  transition: all 3s;
}
main p:hover {
  cursor: none;
  background-color: #044967;
  font-size: 20px;
  -webkit-text-decoration: solid;
          text-decoration: solid;
}
main .quien img {
  height: 400px;
  width: 300px;
  padding: 30px;
}
main .quien h1 {
  text-align: center;
}
main .container-fluid {
  --bs-gutter-x: 0rem;
}
main #carouselExampleCaptions {
  height: 600px;
  width: 400px;
  justify-content: center;
}
main .general {
  height: 50em;
}
main .general .row {
  align-items: center;
  --bs-gutter-x: 0rem;
}

.row {
  align-items: center;
  --bs-gutter-x: 0rem;
}

.mb-3 {
  margin-left: 10px;
  margin-right: 20%;
}

.input {
  height: 30px;
  transition: height 2s;
}
.input:focus {
  height: 40px;
}

.h1 {
  text-align: center;
}

.contacto img {
  width: 50px;
  height: 50px;
}

.btn-primary {
  margin-left: 10px;
}

.button {
  color: Floralwhite;
}

.registro {
  height: 20em;
  padding-left: 10px;
  margin-left: 10px;
}
.registro img {
  width: 50px;
  height: 50px;
  animation-duration: 10s;
  animation-name: titilar;
  animation-iteration-count: infinite;
  transform: translateX(50%);
}
@keyframes titilar {
  0% {
    opacity: 10%;
    height: 50px;
    width: 50px;
  }
  10% {
    opacity: 30%;
    height: 60px;
    width: 60px;
  }
  20% {
    opacity: 50%;
    height: 70px;
    width: 70px;
  }
  30% {
    opacity: 70%;
    height: 100px;
    width: 100px;
  }
  40% {
    opacity: 90%;
    height: 150px;
    width: 150px;
  }
  50% {
    opacity: 100%;
    height: 200px;
    width: 200px;
  }
  60% {
    opacity: 100%;
    height: 200px;
    width: 200px;
  }
  70% {
    opacity: 90%;
    height: 150px;
    width: 150px;
  }
  80% {
    opacity: 70%;
    height: 100px;
    width: 100px;
  }
  90% {
    opacity: 50%;
    height: 70px;
    width: 70px;
  }
  100% {
    opacity: 50%;
    height: 60px;
    width: 60px;
  }
}

.form {
  padding: 10px;
  height: 26em;
}
.form input {
  margin-right: 2em;
}

#emailHelp {
  color: Floralwhite;
}

.logo img {
  width: 50px;
  height: 50px;
}

iframe {
  height: 300px;
  width: 80%;
  margin-left: 50px;
  margin-top: 10px;
  border: 1px solid Floralwhite;
  justify-content: center;
}

.row a {
  color: Floralwhite;
  text-align: center;
}
.row .if {
  height: 37em;
}

.col-sm-7 iframe {
  height: 300px;
  width: 80%;
  margin-left: 50px;
  margin-top: 10px;
  border: 1px solid Floralwhite;
  justify-content: center;
}

footer {
  background-color: #044967;
  color: Floralwhite;
  padding: 0.5em;
}
footer h6 {
  font-size: 10px;
  padding: 1em;
}
footer .row {
  --bs-gutter-x:0rem;
  align-items: center;
}
footer .row img {
  height: 40px;
  width: 40px;
}
footer .row ul {
  display: flex;
  justify-content: space-evenly;
}
footer .row ul li {
  list-style-type: none;
}
footer .row ul li img {
  width: 50px;
  height: 50px;
}
footer .row .container-fluid {
  --bs-gutter-x: 0rem;
}
footer .row .row {
  align-items: center;
  --bs-gutter-x: 0rem ;
}

.spotify {
  background-color: #81b71a;
}

.instagram {
  background-color: #F58529;
}

.youtube {
  background-color: black;
}

.whatsapp {
  background-color: #25D366;
}

body {
  width: 100%;
  border: 0px;
}

.container-fluid {
  --bs-gutter-x: 0rem;
}

|* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins-ExtraBold.ttf);
  font-weight: 800;
}
@media (max-width: 576px) {
  .general {
    height: auto;
    font-size: 12px;
  }
}/*# sourceMappingURL=Styles.css.map */