/*variables para practicar no va a quedar asi*/
$letras:Floralwhite;
$fondo:#044967;
$redes:(
  spotify:#81b71a,
  instagram:#F58529,
  youtube: black,
  whatsapp:#25D366,
);



@import '../SCSS/Componentes/header';
@import '../SCSS/Componentes/main';
@import '../SCSS/Componentes/footer';




body{
    width:100%;
    border:0px;}

.container-fluid{
    --bs-gutter-x: 0rem; 
    }
    |*{ margin: 0;
        padding: 0;
        box-sizing: border-box;
        }
        @font-face {
            font-family:"Poppins";
            src: url(../Fonts/Poppins-Regular.ttf);
            font-weight:400;
          }
          
          @font-face {
            font-family:"Poppins";
            src: url(../Fonts/Poppins-Bold.ttf);
            font-weight:700;
          }
          
          @font-face {
            font-family:"Poppins";
            src: url(../Fonts/Poppins-ExtraBold.ttf);
            font-weight:800;
          }
        
          @media (max-width:576px){
            .general{
                height: auto;
                font-size: 12px;
                
            }    
        }



