|*{ margin: 0;
padding: 0;
box-sizing: border-box;
}
@font-face {
    font-family:"Poppins";
    src: url(../Fonts/Poppins-Regular.ttf);
    font-weight:400;
  }
  
  @font-face {
    font-family:"Poppins";
    src: url(../Fonts/Poppins-Bold.ttf);
    font-weight:700;
  }
  
  @font-face {
    font-family:"Poppins";
    src: url(../Fonts/Poppins-ExtraBold.ttf);
    font-weight:800;
  }
#emailHelp{
    color:aliceblue
}
  .if{
    height: 20em;
}
iframe{
    height: 300px;
    width: 80%;
    margin-left: 50px;
    margin-top: 10px;
    border: 1px solid aliceblue;
justify-content: center;
}
 .button{
    color:aliceblue
}


.form{
    padding: 10px;
    height: 26em;
}
.form-registro{
    padding-left: 10px;
    margin-left: 10px;
   
}
.btn-primary{
   Margin-left: 10px;
}
.row a{
    color: aliceblue;
    text-align: center;
}

.form h1{
    text-align: center;
}
 .contacto img, .registro img, .logo img{
    width: 50px;
    height: 50px;
}

main{
    color: aliceblue;
    background-image: linear-gradient( rgba(9, 0, 10, 0.539),hwb(198 0% 22% / 0.756)), url(../img/LOGOS/Imagotipo\ full\ color\ sin\ fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #000;
    
    
}

.registro{
    height: 20em;
    
}
.mb-3{
    margin-left: 10px;
    
}
.mb-3 h1{
    text-align: center;
}
body{
    width:100%;
    border:0px;}


footer ul{
    display: flex;
    justify-content: space-evenly;
}
li{
    list-style-type: none;
}
li img{
    width: 50px;
    height: 50px;
}
footer{
  
    background-color:#044967;
    color:aliceblue;
    padding: 0.5em;
}

 .footer .row{    
    --bs-gutter-x:0rem;
    

}
h6{
    font-size: 10px;
    padding: 1em;
}
footer img{
    height: 40px;
    width: 40px;
    
    
    
}

.container-fluid{
--bs-gutter-x: 0rem;


}
.quien h1{
    text-align: center;
}
.quien img{
    height: 400px;
    width: 300px;
    padding: 30px

}


.general{
    height: 37em;
}



@media (max-width:576px){
    .general{
        height: auto;
        font-size: 12px;
        
    }
    .if iframe{
        height:100px;
        
       
    }
    
}

#carouselExampleCaptions{
height: 600px;
width: 400px;
justify-content: center;
}

.row{
    align-items: center;
    --bs-gutter-x: 0rem
}